<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Tixvana - Ticketing made easy</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'homeassets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'homeassets/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'homeassets/css/templatemo-softy-pinko.css' %}">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="{% url 'index' %}" class="logo">
                            <img src="{% static 'homeassets/images/TIXVANA.svg' %}" alt="Softy Pinko"/>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="#welcome" class="active">Home</a></li>
                            
                            <!-- <li><a href="#blog">Events</a></li> -->
                            
                            {% if request.user.is_authenticated and request.user in users_in_group %}
                            <li><a href="{% url 'create_event'  %}">Create an event</a></li>
                            {% elif request.user.is_authenticated  %}
                            <li><a href="{% url 'organizer'  %}">Create an event</a></li>
                            {% else %}
                            <li><a href="{% url 'signup'  %}">Create an event</a></li>
                            {% endif %}
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <br>
    <br>
    <br>


    <!-- ***** Testimonials Start ***** -->
    <section class="section" id="testimonials">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                
            </div>
            <!-- ***** Section Title End ***** -->

            
            <div class="card-deck">
              {% for event in events %}
              <div class="card">
                <img class="card-img-top" src="{{event.poster.url}}" alt="Card image cap" width="500" height="500"> 
                <div class="card-body">
                  <h5 class="card-title">{{event.title}}</h5>
                  <p class="card-text">{{event.description|truncatewords:20}}</p>
                </div>
                <div class="card-footer">
                  <div class="pricing-footer">
                    <a href="{% url 'details' event.slug %}" class="main-button">View Event</a>
                </div>
                </div>
              </div>
              {% endfor %}
              
            </div>
        </div>
    </section>
    <!-- ***** Testimonials End ***** -->


    <!-- ***** Footer Start ***** -->
  
    
    <!-- jQuery -->
    <script src="{% static 'homeassets/js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'homeassets/js/popper.js' %}"></script>
    <script src="{% static 'homeassets/js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'homeassets/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'homeassets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'homeassets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'homeassets/js/imgfix.min.js' %}"></script> 
    
    <!-- Global Init -->
    <script src="{% static 'homeassets/js/custom.js' %}"></script>

  </body>
</html>