<!DOCTYPE html>
{% load static %}
 
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Tixvana - Ticketing made easy</title>
<!--
SOFTY PINKO
https://templatemo.com/tm-535-softy-pinko
-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'homeassets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'homeassets/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'homeassets/css/templatemo-softy-pinko.css' %}">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo">
                            <img src="{% static 'homeassets/images/TIXVANA.svg' %}" alt="Softy Pinko"/>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="#welcome" class="active">Home</a></li>
                            <li><a href="#howto">How To</a></li>
                            <li><a href="#testimonials">Testimonials</a></li>
                            <li><a href="#pricing-plans">Pricing</a></li>
                            <!-- <li><a href="#blog">Events</a></li> -->
                            <li><a href="#contact-us">Contact Us</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome" >

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-8 col-md-12 col-sm-12">
                        <h1 class="text-capitalize" style="color:black; font-weight: bolder; font-size: xx-large;">Revolutionize Your Event Ticket Sales: 
                            Say Goodbye to Hassles and Welcome Seamless Transactions</h1>
                        
                        <a href="{% url 'browse' %}" class="main-button-slider">Discover Events</a>
                        {% if request.user.is_authenticated and request.user in users_in_group %}
                        <a href="{% url 'profile' organizer.slug  %}" class="main-button-slider">Get Started</a>
                        {% elif request.user.is_authenticated  %}
                        <a href="{% url 'organizer'  %}" class="main-button-slider">Get Started</a>
                        {% else %}
                        <a href="{% url 'signup'  %}" class="main-button-slider">Get Started</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Features Small Start ***** -->
    <section class="section home-feature" id="howto">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="{% static 'homeassets/images/featured-item-01.png' %}" alt=""></i>
                                </div>
                                <h5 class="features-title">Set up organizer account</h5>
                                <p>Join our community of event organizers effortlessly. Setting up an account is as simple as a breeze, and you'll unlock a world of possibilities. 
                                    From personalized event branding to advanced sales analytics, enjoy the tools you need to bring your event ideas to life.</p>
                                
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->

                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="{% static 'homeassets/images/featured-item-01.png' %}" alt=""></i>
                                </div>
                                <h5 class="features-title">Create events and set ticket prices</h5>
                                <p>Seamlessly craft and launch captivating events with just a few clicks. 
                                    Our user-friendly interface empowers you to design engaging event pages and set ticket prices tailored to 
                                    your audience. No technical expertise required, just creativity and passion.

                                </p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->

                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="{% static 'homeassets/images/featured-item-01.png' %}" alt=""></i>
                                </div>
                                <h5 class="features-title">Earn and Track earnings</h5>
                                <p>Experience the power of effortless earnings tracking with our platform. From ticket sales to merchandise, 
                                    easily monitor your revenue in real-time. 
                                    Say goodbye to spreadsheet headaches and focus on what matters most – delivering exceptional events.</p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Small End ***** -->


  

   

    <!-- ***** Testimonials Start ***** -->
    <section class="section" id="testimonials">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">What do they say?</h2>
                    </div>
                </div>
                
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <!-- ***** Testimonials Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="{% static 'homeassets/images/testimonial-icon.png' %}" alt=""></i>
                            <p>"Switching to this platform was a game-changer for my event promotion business. The ease of setting up events and selling tickets has saved me time and stress. Plus, the customization options allowed me to brand my event pages exactly how I wanted. My clients and attendees love the seamless experience, and I've seen a significant increase in ticket sales. Highly recommended!"</p>
                            <div class="user-image">
                                <img src="{% static 'homeassets/images/testimonial-icon.png' %}" alt="">
                            </div>
                            <div class="team-info">
                                <h3 class="user-name">Catherine Soft</h3>
                                <span>Digital Marketer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->
                
                <!-- ***** Testimonials Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="{% static 'homeassets/images/testimonial-icon.png' %}" alt=""></i>
                            <p>"As a content creator, I often host workshops and webinars. This platform has revolutionized how I sell tickets to my events. The intuitive interface and integration with payment gateways made ticket selling effortless. The analytics feature helped me understand my audience better, allowing me to tailor my events for maximum engagement. It's been a fantastic tool that's boosted my event revenue and attendee satisfaction."

                            </p>
                            <div class="user-image">
                                <img src="{% static 'homeassets/images/testimonial-icon.png' %}" alt="">
                            </div>
                            <div class="team-info">
                                <h3 class="user-name">Kelvin Wood</h3>
                                <span>Content Creator</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->
                
                <!-- ***** Testimonials Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="{% static 'homeassets/images/testimonial-icon.png' %}" alt=""></i>
                            <p>"I can't express how much this platform has simplified my event management tasks. Being a marketer, I've used various ticketing systems before, but this one stands out. The ability to create event landing pages that are visually appealing and responsive is a huge plus. The smooth checkout process and automated email notifications make it a win-win for both me and my attendees. It's an essential tool in my toolkit now."</p>
                            <div class="user-image">
                                <img src="{% static 'homeassets/images/testimonial-icon.png' %}" alt="">
                            </div>
                            <div class="team-info">
                                <h3 class="user-name">David Martin</h3>
                                <span>Event Manager</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Testimonials End ***** -->

    <!-- ***** Pricing Plans Start ***** -->
    
    <!-- ***** Pricing Plans End ***** -->
    <section class="section padding-top-70 padding-bottom-0" id="pricing-plans">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="{% static 'homeassets/images/left-image.png' %}" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
                    <div class="left-heading">
                        <h2 class="section-title">Pricing</h2>
                    </div>
                    <div class="left-text">
                        <ul class="list">
                            <li class="active">Zero charges on first 10 tickets</li>
                            <div class="dropdown-divider"></div>
                            <li class="active">5% of ticket fee after 10 tickets sold</li>
                            <div class="dropdown-divider"></div>
                            <li class="active">3.5% of ticket fee after 100 tickets sold</li>
                            <div class="dropdown-divider"></div>
                            <li class="active">2% of ticket fee after 500 tickets sold</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Counter Parallax Start ***** -->
    <section class="counter">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item decoration-bottom">
                            <strong>126</strong>
                            <span>Projects</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item decoration-top">
                            <strong>63</strong>
                            <span>Happy Clients</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item decoration-bottom">
                            <strong>18</strong>
                            <span>Awards Wins</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Counter Parallax End ***** -->   

   

    <!-- ***** Contact Us Start ***** -->
    <section class="section colored" id="contact-us">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Talk To Us</h2>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <!-- ***** Contact Text Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <h5 class="margin-bottom-30">Keep in touch</h5>
                    <div class="contact-text">
                        
                        <p>Connect with us effortlessly. Your feedback matters, and we're excited to engage in meaningful conversations. Let's talk!</p>
                    </div>
                </div>
                <!-- ***** Contact Text End ***** -->

                <!-- ***** Contact Form Start ***** -->
                <div class="col-lg-8 col-md-6 col-sm-12">
                    <div class="contact-form">
                        <form id="contact" action="{% url 'contact' %}" method="POST">
                            {% csrf_token %}
                          <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="email" type="email" class="form-control" id="email" placeholder="E-Mail Address" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button">Send Message</button>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
                <!-- ***** Contact Form End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Contact Us End ***** -->
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="social">
                       
                        <li><a href="https://twitter.com/ftmezard"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/olaoluwa-ajisola-555220251/"><i class="fa fa-linkedin"></i></a></li>
                        
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright"> mezardini@gmail.com</p>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- jQuery -->
    <script src="{% static 'homeassets/js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'homeassets/js/popper.js' %}"></script>
    <script src="{% static 'homeassets/js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'homeassets/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'homeassets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'homeassets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'homeassets/js/imgfix.min.js' %}"></script> 
    
    <!-- Global Init -->
    <script src="{% static 'homeassets/js/custom.js' %}"></script>

  </body>
</html>